body {
Background-color:#00BCD4;
}

.Mainc
{
Width:80%;
Margin:5% auto;

}

.Mainc>div
{
Font-family:Arial;
Font-weight:bold;
Text-align:center;
Font-size:200px;
Width:16%;
Display: inline-block;
}

.lettery
{
Color: #8bc34a;
}
.letteru
{
Color: #ffeb3b;
}
.letterv
{
Color: #ff572;
}
.letterr
{
Color: #009688;
}

.lettera
{
Color: #9c27b0;
}
.letterj
{
Color: #2196f3;
}
