body {
Background-color: linen;
}

.Mainc
{
Width:80%;
Margin:5% auto;
Background-color:yellow;
}

.Mainc>div
{
Font-family:Arial;
Font-weight:strong;
Text-align:center;
Font-size:80px;
Width:16%;
Display: inline-block;
}
