body {
Background-color:#00BCD4;
}

.Mainc
{
height:240px;
Width:80%;
Margin:5% auto;
position: relative;
}

.Mainc>div
{
Font-family:Arial;
Font-weight:bold;
Text-align:center;
Font-size:200px;
Width:16.6%;
Position: absolute;
Transition:all 0.6s ease-in-out;


}

.lettery
{

Color: #8bc34a;
}
.letteru

{Margin-left:16%;
Color: #ffeb3b;
Margin-top:10%;
}
.letterv
{
Margin-left:32%;
Color: #ff5722;

}
.letterr
{
Margin-left:48%;
Color: #009688;

Margin-top:10%;

}

.lettera
{
Margin-left:64%;
Color: #9c27b0;
}
.letterj
{
Margin-left:80%;
Color: #2196f3;
Margin-top:10%;}

.Mainc>div:hover
{
Color:white;
Margin-top:5%;


}

.mainc1
{
width: 80%;
margin : auto;
position:relative;
height:180px;
  
}

.mains
{
color:rgb(200,200,200);
  width:20%;
  margin:0 0;
  float: left;
  position:absolute;
  bottom:27;
Transition:all 0.6s ease-in-out;

  
}

.mains>div
{
Font-family:Arial;
text-align:center;
Font-size:50px;
Position: relative;
Transition:all 0.6s ease-in-out;
display: inline-block;
  
}

.Mains:hover
{
Color:white;
Margin-bottom:1%;


}

.Mainr:hover
{
Color:white;
Margin-bottom:5%;


}

.mainr
{
  color:#B2EBF2;
  padding-right:7%;
  margin: 0 0;
  float:right;
  position:absolute;
  bottom:0;
  right:0;
  
}

.mainr>div
{
  text-align:center;
  font-family:arial;
  font-size:170px;
  position:relative;
  transition:all 0.6s ease-in-out;
  display:inline-block;
}


.Mainr>div:hover
{
Color:white;
Margin-top:5%;
}

