body {
Background-color:#00BCD4;
}

.Mainc
{
height:240px;
Width:80%;
Margin:5% auto;
position: relative;
}

.Mainc>div
{
Font-family:Arial;
Font-weight:bold;
Text-align:center;
Font-size:200px;
Width:16%;
Position: absolute;
Transition:all 0.6s ease-in-out;


}

.lettery
{

Color: #8bc34a;
}
.letteru

{Margin-left:13.8%;
Color: #ffeb3b;
Margin-top:10%;
}
.letterv
{
Margin-left:27.6%;
Color: #ff5722;

}
.letterr
{
Margin-left:41.4%;
Color: #009688;

Margin-top:10%;

}

.lettera
{
Margin-left:55.2%;
Color: #9c27b0;
}
.letterj
{
Margin-left:69%;
Color: #2196f3;
Margin-top:10%;}

.Mainc>div:hover
{
Color:white;
Margin-top:5%;


}

.mainc1
{
width: 80%;
margin : auto;
position:relative;
height:120px;
  
}

.mains
{
  width:30%;
  margin:0 0;
  float: left;
  position:absolute;
  bottom:0;
}

.mains>div
{
Font-family:Arial;
text-align:center;
Font-size:20px;
Position: relative;
Transition:all 0.6s ease-in-out;
display: inline-block;
  
}
.mainr
{
  width:70%;
  margin: 0 ;
  float:right;
  position:absolute;
  right:0;
  bottom:0;
}

.mainr>div
{
  text-align:center;
  font-family:arial;
  font-weight:bold;
  font-size:150px;
  position:relative;
  transition:all 0.6s ease-in-out;
  display:inline-block;
}



